<!-- <div class="container spacer">
  <button class="btn btn-primary" routerLink='/about'>About</button>
  <button class="btn btn-primary" routerLink='/contact'>Contacts</button>
  <button class="btn btn-primary" routerLink='/newContact'> Nouveau Contact</button>
</div>
-->
<!---------------Application de Gestion de Stock--------------------->
  <!--
    <app-navbar-menu></app-navbar-menu>
  -->
  
  <div class="container">
    <!-- <app-login></app-login> -->
    
</div>

<router-outlet></router-outlet>